			<!-- Banner -->
      <section id="banner" style="background-image: url('{{ this.image.formats.large.url }}')">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
          {{#if (isActive @root.data.pages.home this) }}
					<div class="inner">

						<header>
							<h2>{{ lookup this.title @root.locale }}</h2>
						</header>
						<p>{{ lookup this.summary @root.locale }}</p>
						<div>{{ lookup this.body @root.locale }}</div>
						<footer>
						</footer>

          </div>
          {{/if }}

				</section>

