<header class="special container">
  <span class="icon solid fa-chart-bar"></span>
  <h2>{{ lookup this.title @root.locale }}</h2>
  <p>{{ lookup this.summary @root.locale }}</p>
  <div>{{{ lookup this.body @root.locale }}}</div>
</header>
