					<!-- Three -->
						<section class="wrapper style3 container special">

              <!--
							<header class="major">
								<h2>Next look at this <strong>cool stuff</strong></h2>
              </header>
              -->

              <div class="row">
                {{#each this.images }}
								<div class="col-6 col-12-narrower">

									<section>
                    <a href="#" class="image featured"><img src="{{ this.formats.medium.url }}" alt="" /></a>
                    <!--
                    <header>
											<h3>A Really Fast Train</h3>
										</header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                    -->
									</section>

                </div>
                {{/each }}
							</div>

              <!--
							<footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
              </footer>
              -->

						</section>

