{{>open }}
  <div id="fh5co-wrapper">
    <div id="fh5co-page">
      {{>header }}
      {{>hero }}

      {{>hot}}
      {{>features}}
      {{>portfolio}}
      {{>blog}}
      {{>testimonial}}
    </div>
	<!-- END fh5co-page -->

  </div>
  <!-- END fh5co-wrapper -->

  {{>js }}
{{>close }}

